{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
    
    <div class="inbox-all-page-container">
        
        <div class="nav-header row-1">
            <h2 class="title row-1 column-1">
                Upmail
            </h2>
            <h2 class="account center-content row-1 column-2">Hello, {{ request.user.email }}</h2>
            <div class="switch row-1 column-3 center-content" id="switch-container-1">
                <input id="switch-1" type="checkbox" class="switch-input" />
                <label for="switch-1" class="switch-label"></label>
            </div>
            <div class="log-out-div row-1 column-4">
                <a id="logout" title="Logout" href="{% url 'logout' %}">
                    <img class="icon" src="{% static 'mail/logout-img.png' %}"/>
                </a>
            </div>
        </div>

        <div class="inbox-page-container row-2">
            
            <div class="column-1 my-navbar">
                <div class="my-nav-link margin-top-big">
                    <img class="icon" src="{% static 'mail/inbox-img.png' %}"/>
                    <a class="my-nav-sub-link" href="#" id="inbox">Inbox</a>
                </div>
                <div class="my-nav-link">
                    <img class="icon-small" src="{% static 'mail/addition-img.png' %}"/>
                    <a class="my-nav-sub-link" href="#" id="compose">Compose</a>
                </div>
                <div class="my-nav-link">
                    <img class="icon-small" src="{% static 'mail/sent-img.png' %}"/>
                    <a class="my-nav-sub-link" href="#" id="sent">Sent</a>
                </div>
                <div class="my-nav-link">
                    <img class="icon-small" src="{% static 'mail/archive-img.png' %}"/>
                    <a class="my-nav-sub-link" href="#" id="archived">Archived</a>
                </div>

            </div>
        
            <div class="inbox-main-page-container column-2" id="main-inbox-container">

                <div id="emails-view">
                    <h3 id="inbox-title" class="relative-title margin-top-small"></h3>
                    <hr>
                    <div id="message"></div>
                    <div id="emails-container">

                    </div>
                </div>

                <div id="compose-view" class="padding-bottom">
                    <h3 class="relative-title margin-top-small">New Email</h3>
                    <hr>
                    <div id="message"></div>
                    <form id="compose-form">
                        <div class="form-group flex-layout">
                            <label class="flex-item-small" for="sender">From:</label> 
                            <input class="form-control flex-item input-field" disabled name="sender" value="{{ request.user.email }}">
                        </div>
                        <div class="form-group flex-layout">
                            <input class="form-control flex-item input-field" name="recipient" id="compose-recipients" placeholder="Recipient(s)">
                        </div>
                        <div class="form-group">
                            <input class="form-control input-field" id="compose-subject" placeholder="Subject">
                        </div>
                        <textarea class="form-control input-field" id="compose-body" placeholder="Body"></textarea>
                        <input id="send-mail" type="submit" value="Send" class="my-button margin-top-small btn btn-primary"/>
                    </form>
                </div>

            </div>

        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'mail/script.js' %}"></script>
{% endblock %}