{% extends "mail/layout.html" %}
{% load static %}

{% block body %}

    <div class="login-page-container margin-top blur padding-bottom-small padding-top-small">

        <div class="welcome-header center-content margin-top-small">
            <h2>Welcome</h2>
        </div>

        <div class="login-box-container center-content">
            <h4 class="margin-bottom">Login</h4>

            {% if message %}
                <div>{{ message }}</div>
            {% endif %}

            <form id="login-form center-content" action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <div class="form-group login-input">
                    <input autofocus class="form-control input-field" type="email" name="email" placeholder="Email">
                </div>
                <div class="form-group login-input">
                    <input class="form-control input-field" type="password" name="password" placeholder="Password">
                </div>
                <input class="btn btn-primary button" type="submit" value="Login">
            </form>

            <div class="register-choice center-content">
                <div>
                    Don't have an account?
                </div>
                <a href="{% url 'register' %}">Register here</a>
            </div>
        </div>
    </div>
{% endblock %}